.cityAndWindSection {
    width: 100%;
    margin-top: 20px;
}

.citySection {
    width: 20%;
    height: 100px;
    float: left;
}

.windSection {
    height: 100px;
    margin-top: 20px;
}

.cityAndWindDetailSection {
    margin-top: 40px;
}

.li:hover {
    color: blue;
}

.headingColor {
    color: crimson;
}